/* global style */

/***************************************************************/
/******************* T H E M E   C O L O R S *******************/
/***************************************************************/

@import '../../node_modules/@angular/material/theming';
@include mat-core();

$light-app-primary: mat-palette($mat-blue, 700, 300, 900);
$light-app-accent: mat-palette($mat-pink, 300, 100, 700);

$light-app-theme: mat-light-theme((
  color: (
    primary: $light-app-primary,
    accent: $light-app-accent
  )
));
.light-theme {
  @include angular-material-theme($light-app-theme);
}

$dark-app-primary: mat-palette($mat-amber);
$dark-app-accent: mat-palette($mat-pink);

$dark-app-theme: mat-dark-theme((
  color: (
    primary: $light-app-primary,
    accent: $light-app-accent
  )
));
.dark-theme {
  @include angular-material-theme($dark-app-theme);
}

/***************************************************************/
/******************* G L O B A L   S T Y L E *******************/
/***************************************************************/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline #6f81e5;
  }
}
