<div class="menu">
  <button mat-button [matMenuTriggerFor]="newFileMenu">
    <mat-icon>add</mat-icon>
    <span>Nouveau</span>
  </button>
  <mat-menu #newFileMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>note_add</mat-icon>
      <span>Fichier</span>
    </button>
    <button mat-menu-item>
      <mat-icon>create_new_folder</mat-icon>
      <span>Dossier</span>
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="loadFileMenu">
    <mat-icon>upload</mat-icon>
    <span>Charger</span>
  </button>
  <mat-menu #loadFileMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>upload_file</mat-icon>
      <span>Fichiers</span>
    </button>
    <button mat-menu-item>
      <mat-icon>drive_folder_upload</mat-icon>
      <span>Dossier</span>
    </button>
  </mat-menu>
</div>

<mat-divider></mat-divider>

<div class="main-container">

  <h1>Mes fichiers</h1>

  <div class="files-container">

    <a routerLink="/404" *ngFor="let file of files" class="file-item" appHighlight>
      <img [src]="'assets/icons/' + file.type + '.png'" [alt]="file.name">
      <span>
          {{file.name}}
        </span>
    </a>

  </div>

</div>

