/* global style */

/***************************************************************/
/********************** C O N S T A N T S **********************/
/***************************************************************/

// Media queries
$LAPTOP: '(max-width: 1500px)';
$TABLET: '(max-width: 1025px)';
$MOBILE: '(max-width: 813px)';


/***************************************************************/
/******************* G L O B A L   S T Y L E *******************/
/***************************************************************/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline #6f81e5;
  }
}
