<mat-toolbar color="primary" role="heading" class="main-container">

  <div>
    <button mat-icon-button class="example-icon" (click)="toggleSideBar()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="app-title" routerLink="/fichiers">Cloud-Storage</a>
  </div>

  <div class="search-bar">
    <form class="search-input">
      <mat-form-field class="search-input">
        <mat-icon matPrefix inline="true" class="search-icon">search</mat-icon>
        <input type="search" matInput placeholder="Rechercher" class="search-text">
      </mat-form-field>
    </form>
  </div>

  <div>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button class="icon-logout" (click)="signOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

</mat-toolbar>
