@import '~src/global-style/media-queries';

#main-container {
  display: grid;
  place-items: center;
  height: 100%;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.card {
  width: clamp(25rem, 70%, 35rem);
  height: clamp(20rem, 35%, 80%);
  padding: 40px;
}

.header-image {
  background-image: url(~src/assets/favicon/favicon.ico);
  background-size: cover;
  border-radius: 0;
}

.app-name {
  color: gray;
  font-size: 1.6em;
  margin-bottom: unset !important;
}

.mat-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

mat-card-footer {
  margin-left: unset;
  margin-right: unset;
  height: 4px;
}

::ng-deep #auth-title {
  font-size: xx-large;
}

.center-text {
  display: flex;
  align-items: center;
}

@media #{$MOBILE} {
  .card {
    width: clamp(18rem, 35%, 100%);
    height: clamp(18rem, 45%, 100%);
    padding: 20px;
  }
}
